<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Самые популярные идеи</title>
    <script src="/static/js/script.js"></script>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1>Самые популярные хотёлки</h1>
      <p>Жители города выбрали проекты, которые их действительно волнуют</p> 
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-2 white-to-color"></div>
        <div class="col-sm-8">
          

          {% block body %}
            <table class="table table-striped table-sm">
              <tr>
                <td>Номер</td>
                <td>Название</td>
                <td>Описание</td>
                <td>Количество лайков</td>
                <td>Количество дизлайков</td>
              </tr>
            {% for story in stories %}
              <tr data-toggle="modal" data-target="#myModal{{loop.index}}">
                <td>{{story.id}}</td>
                <td>{{story.title}}</td>
                <td>{{story.description}}</td>
                <td>{{story.likes}}</td>
                <td>{{story.dislikes}}</td>
              </tr>              
            {% endfor %}
          </table>
          </div>
        </div>
        <div class="col-sm-2 white-to-color">&nbsp;</div>
        {%for story in stories%}
        <!-- The Modal -->
          <div class="modal fade" id="myModal{{loop.index}}">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">
                    <div class="row">
                      <div class="col-sm-2 text-center id">{{story.id}}</div>
                      <div class="col-sm-10 text-center">{{story.title}}</div>
                    </div>
                  </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="row">
                   <div class="col-sm-2 text-center"></div>
                   <div class="col-sm-12 text-center">{{story.description}}</div>
                   <div class="w-100"></div>
                   <div class="col-sm-6 text-center">Лайки</div>
                   <div class="col-sm-6 text-center">Негатив</div>
                   <div class="w-100"></div>
                   <div class="col-sm-6 text-center">{{story.likes}}</div>
                   <div class="col-sm-6 text-center">{{story.dislikes}}</div>
                   <div class="w-100"></div>
                   
                    <div id="accordion" class="col-sm-12 text-center">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Комментарии жителей
                            </button>
                          </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">

                            {%for comment in comments%}
                            <blockquote class="blockquote">
                              <p class="mb-0">{{comment.content}}</p>
                              <footer class="blockquote-footer">{{comment.author}}</footer>
                            </blockquote>
                            {%endfor%}

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <div class="row">
                    <div class="form-group col-sm-12">
                      <label for="comment">Отчет:</label>
                      <textarea class="form-control" rows="5" id="comment"></textarea>
                    </div>
                    <button id="submit" param= type="button" class="btn btn-success offset-sm-2" data-dismiss="modal">Подтвердить</button>
                    <button id="decline" type="button" class="btn btn-danger offset-sm-1" data-dismiss="modal">Отклонить</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        {%endfor%}
        {% endblock %}
      </div>
    </div>
  </body>
</html>